* {
    margin: 0;
    padding: 0;
    font-family: iran;
}
@font-face {
    font-family: iran;
    src: url(/assest/font/iransan.ttf);
}
li{
    list-style-type: none;
}
.list {
    color: rgb(75, 75, 228);
}
li a {
    text-decoration: none;
}
li a {
    color: #fff;
    transition: all 0.5s;
}
li a:hover {
    color: rgb(75, 75, 228);
}
.header {
    background: linear-gradient(rgba(18, 18, 18, 0) 10vw, rgb(18, 18, 18) 46.875vw), linear-gradient(to left, rgba(18, 18, 18, 0.7), rgba(18, 18, 18, 0) 50%), url(/assest/image/dinamit.jpg);
    height: 90vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    transition: all 0.8s;
    position: relative;
}
.menu {
    background-color: rgba(18,18,18,0);
    background-image: linear-gradient(to bottom, rgba(18,18,18,1), rgba(18,18,18,0));
}
.text-slide {
    font-size: 1.5rem;
    color: #fff;
    font-weight: bold;
}
.brand {
    background-color: rgb(255, 196, 0);
    font-weight: bold;
    padding: 4px 7px;
    border-radius: 8px;
    font-size: 14px;
    margin-right: 10px;
}
.button-slide{
     position: absolute;
     bottom: 140px;
     left: 40px;
}
.button-arrow {
    background-color: rgba(255, 255, 255,0.2);
    color: rgb(182, 182, 182);
    outline: none;
    border: none;
    padding: 14px 20px;
    margin-right: 20px;
    border-radius: 50%;
    text-align: center;
    display: flex;
    align-items: center;
    transition: all 0.2s;
}
.button-arrow:hover {
    color: #fff;
}
.btn-light-name {
    background-color: #fff;
    padding: 10px 19px;
    outline: none;
    border: none;
    border-radius: 4px;
    font-size: 14px;
    transition: all 0.5s;
}
.btn-light-name:hover {
    color: #fff;
    background-color: #1993ff;
}
.btn-secondary-name {
    background-color: rgba(255, 255, 255, 0.2);
    color: #fff;
    outline: none;
    border: none;
    border-radius: 4px;
    font-size: 14px;
    transition: all 0.5s;
    padding: 10px 19px;
}
.btn-secondary-name:hover {
    background-color: rgba(255, 255, 255, 0.4);
}
.title-container {
    position: absolute;
    bottom: 30px;
}
.container-box {
    width: 150vw;
    overflow: hidden;
    transition: all 0.8s;
}
.carousel{
    display: flex;
}
main {
    overflow: hidden;
}
.section-movie {
    padding: 0 60px;
}
.title-pro {
    font-size: 13px;
    margin-top: 4px;
}
.overlay {
    position: absolute;
    width: 100%;
    right: 0;
    top: 0;
    height: 93%;
    display: flex;
    flex-direction: column;
    justify-content: end;
    padding: 15px 10px;
    background: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.9));
    opacity: 0;
    transition: all 0.4s;
}
.overlay p, .overlay i, .overlay span {
    font-size: 13px;
}
.box-movie:hover .overlay{
    opacity: 1;
}
.container-box1,.container-box2,.container-box3,.container-box4 {
    width: 200vw;
    overflow: hidden;
    transition: all 0.8s;
}
.pro {
    position: absolute;
    left: 0;
    top: 10%;
    z-index: 999;
    text-align: center;
    padding: 9% 20px;
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    background: linear-gradient(to right, rgba(18,18,18,1), rgba(18,18,18,0));
    outline: none;
    border: none;
}
.navlink {
   font-size: 13px;
   color:rgb(169, 169, 169);
}
.nav-item {
    padding: 5px 0;
}
.linksher {
    background-color: rgb(170, 170, 170);
    color: black;
    padding: 0 10px;
    padding-top: 7px;
    padding-bottom: 2px;
    border-radius: 50%;
    font-size: 23px;
}
.twitter:hover {
    background-color: rgba(118, 159, 241, 0.911);
    color: #fff;
}
.instagram:hover {
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
    color: #fff;
}
.telgram:hover {
    background-color: rgba(118, 159, 241, 0.911);
    color: #fff;
}
.text-footer {
    color: rgb(169, 169, 169);
    font-size: 12px;
}